/*************************************
Main layout styling
*************************************/

html {
	font-size: 16px;
	height: 100%;
}

main {
	padding: scut-rem(60px 0);
}

#back-to-top {
	position: fixed;
	right: scut-rem(-55px);
	bottom: scut-rem(20px);
	padding: scut-rem(15px 15px 5px);
	transition: 0.3s;

	&.visible {
		right: scut-rem(20px);
	}

	span {
		width: scut-rem(20px);
		height: scut-rem(20px);
		border-top: 2px solid $white;
		border-left: 2px solid $white;
		display: block;
		margin: 0 auto;
		transform: rotate(45deg);
	}
}
