button:focus {
    outline: none;
}

.btn {
    background: $primary-color;
    color: $primary-lightest-color;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: scut-rem(8 30);

    &:hover {
        background: $secondary-color;
        color: $primary-lightest-color;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        padding: scut-rem(8 15);
    }

    &-sm {
        padding: scut-rem(4 10);
    }
}

.btn-primary {
    background: $primary-color;

    &:hover, &:focus,
    &:active:hover, &.active:hover,
    &:active:focus, &.active:focus,
    &:active.focus, &.active.focus {
        background-color: $primary-lightest-color;
        color: $primary-color;
        outline: none;
    }
}

.btn-secondary {
    background: $secondary-color;

    &:hover, &:focus,
    &:active:hover, &.active:hover,
    &:active:focus, &.active:focus,
    &:active.focus, &.active.focus {
        background-color: $primary-color;
        outline: none;
    }
}


.btn-tertiary {
    background: $primary-lightest-color;
    color: $primary-color;

    &:hover, &:focus,
    &:active:hover, &.active:hover,
    &:active:focus, &.active:focus,
    &:active.focus, &.active.focus {
        background-color: $secondary-color;
        outline: none;
    }
}

.btn-disabled {
    background: $tertiary-color;
    color: $primary-color;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
	cursor: not-allowed;

    /*padding: scut-rem(7 28);*/
    &:hover, &:focus,
    &:active:hover, &.active:hover,
    &:active:focus, &.active:focus,
    &:active.focus, &.active.focus {
        background-color: $secondary-color;
        outline: none;
        border-color: $secondary-color;
    }
}

.btn-lg {
    font-weight: 300;
    font-size: scut-rem(24);
    min-width: scut-rem(220);
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    border: 0;
    background: $secondary-color;
}
