footer {
	text-align: center;
	background: $primary-darkest-color;
	color: $primary-lightest-color;
	padding: scut-rem(50px 0);

	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			padding: scut-rem(0 15px);
		}
	}
}
