﻿.custom-dropdown {
    width: 100%;
    max-width: scut-rem(313px);
    position: relative;

    &.open {
        .dropdown-toggle {
            &:focus,
            &:active {
                border: 1px solid $orange;
                background-color: $white;
                color: $dark;
            }

            &:after {
                color: $orange;
            }
        }
    }

    &.selected {
        .value {
            font-size: scut-rem(14px);
            color: $dark;
        }

        .placeholder {
            display: block !important;
        }
    }

    .dropdown-toggle {
        border: 1px solid $light-gray;
        border-radius: 0;
        padding: scut-rem(12px);
        width: 100%;
        font-family: $primaryType;
        font-size: scut-rem(14px);
        line-height: 1.14;
        color: $dark;
        text-align: left;
        background-color: $white;
        position: relative;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
        }

        .caret {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $light-gray;
            right: scut-rem(16px);
        }

        /*&:after {
            content: "\e93b";
            font-family: 'northshore-icons' !important;
            ;
            position: absolute;
            right: scut-rem(16px);
            top: 50%;
            transform: translateY(-50%);
            color: $light-gray;
        }*/
    }

    &__labeled {
        .dropdown-toggle {
            padding: scut-rem(19px) scut-rem(16px);
        }
    }

    &__number {
        display: inline-flex;
        align-items: center;
        width: auto;

        .dropdown-toggle,
        .dropdown-menu {
            width: scut-rem(112px);
            min-width: 0;
        }

        .dropdown-toggle {
            padding: scut-rem(19px) scut-rem(16px);

            &:before {
                content: "";
                border-right: 1px solid $light-gray;
                position: absolute;
                right: scut-rem(48px);
                height: scut-rem(40px);
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .dropdown-menu {
            min-width: 0 !important;
            right: 0;
            left: auto;
        }
    }

    &__label-text {
        font-size: scut-rem(16px);
        line-height: 1.13;
        color: $primary;
        margin-right: scut-rem(16px);
    }

    .info {
        font-style: italic;
        margin: 0 scut-rem(30px) 0 scut-rem(6px);
        text-transform: uppercase;
    }

    .dropdown-menu {
        padding: 0;
        min-width: 100%;
        margin-top: 0;

        li {
            background-color: $white;
            border-bottom: 1px solid $light-gray;

            &:last-child {
                border-bottom: 0;
            }

            &.placeholder {
                display: none;
            }

            a,
            button {
                font-family: $primaryType;
                font-size: scut-rem(14px);
                line-height: 1;
                color: $dark;
                padding: scut-rem(12px);
                background-color: $white;
                border: 0;
                display: block;
                width: 100%;
                text-align: left;

                &:hover,
                &:focus {
                    background-color: $white;
                }
            }
        }
    }
}
