/*************************************
Font faces
*************************************/

$font-path: "../fonts/app";
/*@include scut-font-face("WorkSans", "#{$font-path}/WorkSans-Black", 900, normal, $formats: ttf);
@include scut-font-face("WorkSans", "#{$font-path}/WorkSans-Bold", 700, normal, $formats: ttf);
@include scut-font-face("WorkSans", "#{$font-path}/WorkSans-Regular", 400, normal, $formats: ttf);*/
body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 16px;
}

a {
	color: inherit;

	&:hover, &:focus {
		color: $primary-hover-color;
		text-decoration: none;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
}

h1, .h1 {
	margin-bottom: scut-rem(20);
	font-size: scut-rem(28);
}

h2, .h2 {
	font-size: scut-rem(24);
	margin-bottom: scut-rem(20);
}

h3, .h3 {
	margin-bottom: scut-rem(20);
	font-size: scut-rem(22);
}

h4, .h4 {
	font-size: scut-rem(20);
}

h5, .h5 {
	font-size: scut-rem(20);

	strong {
		font-style: italic;
	}
}
