.card {
	padding: scut-rem(10px);
	border: 1px solid $light-gray;
	border-radius: scut-rem(4px);
	transition: 0.3s;

	&:hover {
		box-shadow: 0 0 8px -1px $primary;
	}

	&__image {
		margin-bottom: scut-rem(10px);
	}

	&__title {
		font-size: scut-rem(18px);
		font-weight: 700;
	}

	&__body {
		font-size: scut-rem(13px);
		padding: scut-rem(10px 0);
	}

	&__footer {
		text-align: center;
	}

	&--new {
		border-color: $primary-hover-color;

		&:hover {
			box-shadow: 0 0 8px -1px $primary-hover-color;
		}
	}

	&--promo {
		border-color: $blue;

		&:hover {
			box-shadow: 0 0 8px -1px $blue;
		}
	}

	@media (max-width: $screen-md){
		margin-bottom: scut-rem(30px);
	}
}
