/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/

/*--- pixels-to-rems ---*/
$scut-rem-base: 16 !default;

@function scut-rem ( $pixels ) {

    $rem-vals: ();

    @each $val in $pixels {
        $val-in-rems: scut-strip-unit($val) / $scut-rem-base * 1rem;
        $rem-vals: append($rem-vals, $val-in-rems);
    }

    @if length($rem-vals) == 1 {
        // return a single value instead of a list,
        // so it can be used in calculations
        @return nth($rem-vals, 1);
    }
    @else {
        @return $rem-vals;
    }
}

@function scut-strip-unit ( $num ) {

    @return $num / ($num * 0 + 1);
}


/*--- circle ---*/
@mixin scut-circle ( $size, $color: inherit ) {
    border-radius: 50%;
    display: inline-block;

    @if $color == inherit {
        // If user wants to inherit the color,
        // take advantage of the fact that border
        // color defaults to the text color of the element.
        border-width: $size / 2;
        border-style: solid;
        height: 0;
        width: 0;
    }
    @else {
        // Otherwise, just use background-color.
        background-color: $color;
        height: $size;
        width: $size;
    }
}

/*--- color swap ---*/
@mixin scut-color-swap ( $off, $on, $duration: 0, $bg: false ) {

    $transition-properties: null;
    $off-is-list: type-of($off) == list;
    $on-is-list: type-of($on) == list;

    // If $off IS a list,
    // assign color and background-color.
    @if $off-is-list {
        color: nth($off, 1);
        background-color: nth($off, 2);
        $transition-properties: background-color, color;
    }
    // If $off IS NOT a list and $bg is TRUE,
    // assign background-color.
    @else if $bg and not($off-is-list) {
        background-color: $off;
        $transition-properties: background-color;
    }
    // If $off IS NOT a list and $bg is FALSE,
    // assign color.
    @else {
        color: $off;
        $transition-properties: color;
    }
    // Only set-up transition if $duration != 0.
    @if $duration != 0 {
        transition-property: $transition-properties;
        transition-duration: $duration;
    }

    &:hover,
    &:focus {
        // $on is treated the same as $off, above.
        @if $on-is-list {
            color: nth($on, 1);
            background-color: nth($on, 2);
        }

        @else if $bg and not($on-is-list) {
            background-color: $on;
        }

        @else {
            color: $on;
        }
    }
}

/*--- triangle ---*/
@mixin scut-triangle ( $direction: right, $size: 0.75em, $color: inherit ) {
    display: inline-block;
    height: 0;
    width: 0;
    // For improved appearance in some Webkit browsers
    -webkit-transform: rotate(360deg);
    // Set up some variables
    $width: null;
    $height: null;
    $border-widths: null;

    @if type-of($size) == list {
        $width: nth($size, 1);
        $height: nth($size, 2);
    }
    @else {
        $width: $size;
        $height: $size;
    }

    @if ($direction == up) or ($direction == down) {
        // For up and down, width gets two borders but height only one,
        // so divide second border-width value by 2
        $border-widths: $height ($width / 2);
    }
    @else if ($direction == right) or ($direction == left) {
        // For right and left, height gets two borders but width only one,
        // so divide first border-width value by 2
        $border-widths: ($height / 2)
        $width;
    }
    @else {
        // For right triangles (the rest), both sides get two borders,
        // so divide both by 2
        $border-widths: ($height / 2)
        ($width / 2);
    }

    border-width: $border-widths;
    border-style: solid;
    // STANDARD TRIANGLES
    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
        border-color: transparent;

        @if $direction == up {
            border-bottom-color: $color;
            border-top-width: 0;
        }
        @else if $direction == right {
            border-left-color: $color;
            border-right-width: 0;
        }
        @else if $direction == down {
            border-top-color: $color;
            border-bottom-width: 0;
        }
        @else if $direction == left {
            border-right-color: $color;
            border-left-width: 0;
        }
    }
    // CORNER TRIANGLES
    @else if ($direction == top-right) or ($direction == top-left) {
        border-top-color: $color;
        border-bottom-color: transparent;

        @if $direction == top-right {
            border-left-color: transparent;
            border-right-color: $color;
        }
        @else if $direction == top-left {
            border-left-color: $color;
            border-right-color: transparent;
        }
    }

    @else if ($direction == bottom-right) or ($direction == bottom-left) {
        border-top-color: transparent;
        border-bottom-color: $color;

        @if $direction == bottom-right {
            border-left-color: transparent;
            border-right-color: $color;
        }
        @else if $direction == bottom-left {
            border-left-color: $color;
            border-right-color: transparent;
        }
    }
}

%scut-triangle {
    @include scut-triangle;
}

@function scut-autoOrValue ($val) {
    @if $val == a or $val == auto {
        @return auto;
    }
    @else {
        @return $val;
    }
}

/*--- coordinates ---*/
@mixin scut-coords ( $coordinates: n n n n ) {

    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    @if $top != n {
        top: scut-autoOrValue($top);
    }

    @if $right != n {
        right: scut-autoOrValue($right);
    }

    @if $bottom != n {
        bottom: scut-autoOrValue($bottom);
    }

    @if $left != n {
        left: scut-autoOrValue($left);
    }
}

/*--- absolute positioning ---*/
@mixin scut-absolute ( $coordinates: 0 n n 0 ) {
    position: absolute;
    @include scut-coords($coordinates);
}

%scut-absolute {
    @include scut-absolute;
}

/*--- fixed positioning ---*/
@mixin scut-fixed ( $coordinates: 0 n n 0 ) {
    position: fixed;
    @include scut-coords($coordinates);
}

%scut-fixed {
    @include scut-fixed;
}

/*--- relative positioning ---*/
@mixin scut-relative ( $coordinates: n n n n ) {
    position: relative;
    @include scut-coords($coordinates);
}

/*--- center absolutely ---*/
@mixin scut-center-absolutely ( $dimensions ) {

    $width: nth($dimensions, 1);
    $height: nth($dimensions, 2);

    position: absolute;

    @if $width != n {
        width: $width;
        left: 50%;
        margin-left: (-$width / 2);
    }

    @if $height != n {
        height: $height;
        top: 50%;
        margin-top: (-$height / 2);
    }
}

/*--- center block ---*/
@mixin scut-center-block ( $max-width: false ) {
    margin-left: auto;
    margin-right: auto;

    @if $max-width {
        max-width: $max-width;
    }
}

%scut-center-block {
    @include scut-center-block;
}

/*--- center transform ---*/
@mixin scut-center-transform ( $axis: false // or x or y
) {
    position: absolute;

    @if $axis != x {
        top: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }

    @if $axis != y {
        left: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    $translate-val: null;

    @if not($axis) {
        $translate-val: translate(-50%, -50%);
    }
    @else if $axis != x {
        $translate-val: translateY(-50%);
    }
    @else if $axis != y {
        $translate-val: translateX(-50%);
    }

    -webkit-transform: $translate-val;
    -ms-transform: $translate-val;
    transform: $translate-val;
}

%scut-center-transform {
    @include scut-center-transform;
}

%scut-center-transform-x {
    @include scut-center-transform(x);
}

%scut-center-transform-y {
    @include scut-center-transform(y);
}

/*--- vertical center inline-block ---*/
@mixin scut-vcenter-ib ( $inner... ) {
    // The inner element is vertically centered
    // by middle-aligning it with an inline pseudo-element
    // whose height is 100%.
    &:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        // A small negative right margin is set
        // to account for the default
        // word-spacing of inline-block.
        margin-right: -0.25em;
    }

    $inner: if(length($inner) == 0, ".scut-inner", $inner);

    @each $cell-selector in $inner {
        $cell-selector: unquote($cell-selector);

        & > #{$cell-selector} {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

%scut-vcenter-ib {
    @include scut-vcenter-ib;
}

/*--- vertical center table display ---*/
@mixin scut-vcenter-td ( $inner... ) {
    display: table;

    $inner: if(length($inner) == 0, ".scut-inner", $inner);

    @each $cell-selector in $inner {
        $cell-selector: unquote($cell-selector);

        & > #{$cell-selector} {
            display: table-cell;
            vertical-align: middle;
        }
    }
}


%scut-vcenter-td {
    @include scut-vcenter-td;
}

/*--- font face ---*/
@function main-src($formats, $file-path, $font-family) {
    // Return the list of `src` values, in order, that
    // a good `@font-face` will need, including only
    // those formats specified in the list `$formats`.
    $result: ();

    @if index($formats, eot) {
        $eot-val: url('#{$file-path}.eot?#iefix') format('embedded-opentype');
        $result: append($result, $eot-val, comma);
    }

    @if index($formats, woff2) {
        $woff2-val: url('#{$file-path}.woff2') format('woff2');
        $result: append($result, $woff2-val, comma);
    }

    @if index($formats, woff) {
        $woff-val: url('#{$file-path}.woff') format('woff');
        $result: append($result, $woff-val, comma);
    }

    @if index($formats, ttf) {
        $ttf-val: url('#{$file-path}.ttf') format('truetype');
        $result: append($result, $ttf-val, comma);
    }

    @if index($formats, svg) {
        $svg-val: url('#{$file-path}.svg##{$font-family}') format('svg');
        $result: append($result, $svg-val, comma);
    }

    @return $result;
}

@mixin scut-font-face ( $font-family, $file-path, $weight: normal, $style: normal, $formats: eot woff2 woff ttf svg ) {

    @if index('italic' 'oblique', $weight) {
        $style: $weight;
        $weight: normal;
    }

    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        @if index($formats, eot) {
            src: url('#{$file-path}.eot');
        }

        src: main-src($formats, $file-path, $font-family);
    }
}

/*--- side lined ---*/
@mixin scut-side-lined ( $height: 1px, $space: 0.5em, $color: inherit, $style: solid, $v-adjust: false, $double: false ) {
    display: block;
    overflow: hidden;
    text-align: center;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 50%;
        border-top-style: $style;
        border-top-width: $height;

        @if $color != inherit {
            border-top-color: $color;
        }

        @if $v-adjust != false {
            bottom: $v-adjust;
        }

        @if $double != false {
            height: $double;
            border-bottom-style: $style;
            border-bottom-width: $height;

            @if $color != inherit {
                border-bottom-color: $color;
            }
        }
    }

    &:before {
        right: $space;
        margin-left: -50%;
    }

    &:after {
        left: $space;
        margin-right: -50%;
    }
}

%scut-side-lined {
    @include scut-side-lined;
}

/*--- truncate ---*/
@mixin scut-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%scut-truncate {
    @include scut-truncate;
}
