/*************************************
Variables used across the website
*************************************/

/* FONT / LINKS / BACKGROUNDS */
$primary-lightest-color: #ffffff;
$primary-darkest-color: #1a1a1a;
$primary-color: #282828;
$primary-hover-color: #ff750f;
$secondary-color: #ff750f;
$secondary-hover-color: #ffb400;
$tertiary-color: #f2f2f2;

// Fonts
$primaryType: LatoWeb, Tahoma, sans-serif;
$secondaryType: Martel, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$iconFont: 'northshore-icons';

// Extra small screen / phone
$screen-xs: 320px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Colors
$white: #ffffff;
$black: #000000;

$dark: #363942;

$primary: #67707b;

$light-gray: #c6cbd0;
$lighter-gray: #f2f2f2;

$blackish: #282828;

$dark-blue: #24558e;
$blue: #1896f1;
$blue-hover: #18aff1;
$light-blue: #2bc3e7;

$orange: #f88701;
$orange-hover: #f89a01;

$green: #29cf4d;

$highlight: #1da33a;