/*************************************
Variables used across the website
*************************************/
/* FONT / LINKS / BACKGROUNDS */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
/*--- pixels-to-rems ---*/
/*--- circle ---*/
/*--- color swap ---*/
/*--- triangle ---*/
/*--- coordinates ---*/
/*--- absolute positioning ---*/
/*--- fixed positioning ---*/
/*--- relative positioning ---*/
/*--- center absolutely ---*/
/*--- center block ---*/
/*--- center transform ---*/
/*--- vertical center inline-block ---*/
/*--- vertical center table display ---*/
/*--- font face ---*/
/*--- side lined ---*/
/*--- truncate ---*/
.card {
  padding: 0.625rem;
  border: 1px solid #c6cbd0;
  border-radius: 0.25rem;
  transition: 0.3s; }
  .card:hover {
    box-shadow: 0 0 8px -1px #67707b; }
  .card__image {
    margin-bottom: 0.625rem; }
  .card__title {
    font-size: 1.125rem;
    font-weight: 700; }
  .card__body {
    font-size: 0.8125rem;
    padding: 0.625rem 0rem; }
  .card__footer {
    text-align: center; }
  .card--new {
    border-color: #ff750f; }
    .card--new:hover {
      box-shadow: 0 0 8px -1px #ff750f; }
  .card--promo {
    border-color: #1896f1; }
    .card--promo:hover {
      box-shadow: 0 0 8px -1px #1896f1; }
  @media (max-width: 992px) {
    .card {
      margin-bottom: 1.875rem; } }
