/*************************************
Variables used across the website
*************************************/
/* FONT / LINKS / BACKGROUNDS */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
/*--- pixels-to-rems ---*/
/*--- circle ---*/
/*--- color swap ---*/
/*--- triangle ---*/
/*--- coordinates ---*/
/*--- absolute positioning ---*/
/*--- fixed positioning ---*/
/*--- relative positioning ---*/
/*--- center absolutely ---*/
/*--- center block ---*/
/*--- center transform ---*/
/*--- vertical center inline-block ---*/
/*--- vertical center table display ---*/
/*--- font face ---*/
/*--- side lined ---*/
/*--- truncate ---*/
footer {
  text-align: center;
  background: #1a1a1a;
  color: #ffffff;
  padding: 3.125rem 0rem; }
  footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; }
    footer ul li {
      display: inline-block;
      padding: 0rem 0.9375rem; }
